.page.product-detail-page main * {
    outline: 1px solid black;
}

.page.product-detail-page main {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr
}

.product-detail.info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1% 10% 1% 10%
}

.product-detail-image-container {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product-detail-info-container {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    padding: 1%;
}

.product-detail.summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1%;
    gap: 1%;
}

.product-detail.detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1%;
    gap: 1%
}