.page.purchase main {
    grid-template-rows: 1fr 4fr;
}

.purchase > main >.summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    outline: 1px solid black;
    padding: 1%;
    gap: 1%;
}

.purchase-table-title {
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

.purchase-table {
    margin: 10px;
}

.purchase-table-content {
    outline: 1px solid black;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 50vh;
}