.page.purchases_list main {
    grid-template-rows: 1fr 4fr;
}

.purchases > main > .summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    outline: 1px solid black;
    padding: 1%;
    gap: 1%;
}

.purchases main .container-data.value.summary {
    font-size: 4em;
}

.purchases-table-title {
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

.purchases-table {
    margin: 10px;
}

.purchases-table-content {
    outline: 1px solid black;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 50vh;
}