.page.product_list main {
    grid-template-rows: 1fr 4fr;
}

.product_list > main > .summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    outline: 1px solid black;
    padding: 1%;
    gap: 1%;
}

.table-title {
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

.product-table {
    margin: 10px;
}

.product-table-content {
    outline: 1px solid black;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 50vh;
}