.page.product-detail-page main {
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr);
}

.product-detail.info {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0,1fr);
    padding: 1% 10% 1% 10%;
    gap: 1%;
}

.product-detail-image-container {
    border-right: 2px solid black;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0,3fr);
    gap: 3%;
    overflow: hidden;
}

.product-detail-image-container .image-list {
    border-right: 1px solid rgba(0,0,0,0.3);
    display: grid;
    grid-template-rows: repeat(autofill, 1fr);
    gap: 2%;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
}

.product-detail-image-container .image-list > img {
    object-fit: contain;
    width: 60%;
}

.product-detail-image-container .main-image {
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product-detail-image-container .main-image img {
    max-height: 100%;
    object-fit: contain;
}

.product-detail-info-container {
    display: grid;
    grid-template-rows: minmax(0, 2fr) minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr);
    padding: 1%;
}

.product-detail-info-container .supplier {
    display: flex;
    gap: 10%
}

.product-detail-info-container .price {
    display: flex;
    gap: 10%;
}

.product-detail-name {
    font-size: 2em;
}

.product-detail.summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1%;
    gap: 1%;
}

.product-detail.detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1%;
    gap: 1%
}

.product-detail.detail .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding: 1%;
}